CodinExercise2/src/META-INF/wsdl/localhost_8080/CodingExcercise2/Server.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://server/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://server/">

<xs:element name="addString" type="tns:addString"/>

<xs:element name="addStringResponse" type="tns:addStringResponse"/>

<xs:element name="findShortestAmongAllStrings" type="tns:findShortestAmongAllStrings"/>

<xs:element name="findShortestAmongAllStringsResponse" type="tns:findShortestAmongAllStringsResponse"/>

<xs:element name="findShortestBetween" type="tns:findShortestBetween"/>

<xs:element name="findShortestBetweenNameAndSurname" type="tns:findShortestBetweenNameAndSurname"/>

<xs:element name="findShortestBetweenNameAndSurnameResponse" type="tns:findShortestBetweenNameAndSurnameResponse"/>

<xs:element name="findShortestBetweenResponse" type="tns:findShortestBetweenResponse"/>

<xs:element name="findShortestBetweenWithException" type="tns:findShortestBetweenWithException"/>

<xs:element name="findShortestBetweenWithExceptionResponse" type="tns:findShortestBetweenWithExceptionResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="isConnected" type="tns:isConnected"/>

<xs:element name="isConnectedResponse" type="tns:isConnectedResponse"/>

<xs:complexType name="findShortestBetweenWithException">
<xs:sequence>
<xs:element name="a" type="xs:string" minOccurs="0"/>
<xs:element name="b" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findShortestBetweenWithExceptionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findShortestAmongAllStrings">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findShortestAmongAllStringsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isConnected">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="isConnectedResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findShortestBetweenNameAndSurname">
<xs:sequence>
<xs:element name="p" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findShortestBetweenNameAndSurnameResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findShortestBetween">
<xs:sequence>
<xs:element name="a" type="xs:string" minOccurs="0"/>
<xs:element name="b" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findShortestBetweenResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addString">
<xs:sequence>
<xs:element name="string" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addStringResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>